*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	font-family: 'Open Sans', sans-serif;
}
body{background: #2A2D3F;}
header{
	width: 100%;
	height: 6.5vh;
	background: #262939;
	box-shadow: 2px 2px 8px rgba(0,0,0, .35);
	display: flex;
	justify-content: space-between;
	color: #E5E6E8;
	z-index: 100;
}
header h2, header a{
	text-decoration: none;
	margin: 1.9vh 1.9vh 0;
	list-style: none;
	font-size: 14pt;
	color: #E5E6E8;
	font-family: 'Open Sans', sans-serif;
}
header .mobileNav .hamburguer{
	position: absolute;
	top: 1.5vh;
	right: 2.5vh;
	cursor: pointer;
}
header .mobileNav .hamburguer p{
	width: 35px;
  	height: 5px;
  	background: #E5E6E8;
  	margin: 6px 0;
  	cursor: pointer;
  	display: flex;
}
.boxNav nav ul li{list-style: none;}
.boxNav{
	background: #2A2D3F;
	width: 100%;
	height: 30vh;
	position: absolute;
	z-index: 899;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	color: #E5E6E8;
	border-bottom: 1px solid rgba(0,0,0, .25)
}

.boxNav ul li{
	margin: 1.9vh 0;
	list-style: none;
	font-size: 14pt;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	display: flex;
}
.boxNav ul li:hover{
	text-decoration: underline;
	color: currentColor;
	cursor: pointer;
}
.containerNav{display: none;}
.containerBody .sobreMim{
	display: flex;
	color: #FFF;
	flex-direction: column;
	max-width: 50%;
	text-align: center;
	margin: 1% auto;
}
.containerBody .sobreMim h2{
	font-size: 20pt;
	color: #E5E6E8;
	margin: 0 0 1.5%;
}
.containerBody .sobreMim p{
	font-size: 11pt;
	color: #AFB1B2;
	font-weight: 200;
	margin: 0 0 3.5%;
}
.containerBody .sobreMim a img{	visibility: hidden;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	filter: drop-shadow(2px 3px 5px rgba(0,0,0, .35));
}
.containerBody .containerProjetos h2{
	text-align: center;
	font-size: 20pt;
	color: #E5E6E8;
}
.containerBody .containerProjetos .apresentacao img{
	width: 450px;
}
.containerBody .containerProjetos .apresentacao{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin: 0 0 1.5%;
	filter: drop-shadow(4px 4px 5px rgba(0,0,0, .25));
}
.containerBody .containerProjetos .brWallet{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.containerBody .containerProjetos .brWallet button{
	width: 450px;
	height: 2rem;
	cursor: pointer;
	background: #333;
	outline: none;
	border: 1.5px solid #333;
	color: #E5E6E8;
	font-size: 11pt;
}
.containerBody .containerProjetos .nuBanco{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 2% 0;
}
.containerBody .containerProjetos .nuBanco button{
	width: 450px;
	height: 2rem;
	cursor: pointer;
	background: #333;
	outline: none;
	border: 1.5px solid #333;
	color: #E5E6E8;
	font-size: 11pt;
}

.containerServicos h2{
	font-size: 20pt;
	color: #E5E6E8;
	margin: 2% 0 0 0;
	text-align: center;
}
.containerServicos .servicos{
	font-size: 75pt;	
	display: flex;
	justify-content: center;
	margin: 2.5%;
}
.containerServicos .servicos .tech{
	margin: 0 2.5% 0;
}
.html5{color: #DD4B25;}
.css3{color: #254BDD;}
.js{color: #EFD81D;}
footer{
	width: 100%;
	background: #262939;
	position: absolute;
	height: 15vh;
	bottom: -35vh!important;
	z-index: 551;
}
.containerFooter{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 1% 0 0;
}
.containerFooter h2{
	font-weight: 400;
	color: #E5E6E8;
	font-size: 18pt;
	margin: 0 0 1%;
}
.containerFooter li, li a{
	font-weight: 400;
	color: #AFB1B2;
	font-size: 12pt;
	margin: 0 0 1%;
	text-decoration: none;
}
.containerFooter li a:hover{text-decoration: underline;}
::marker{color: #20222F;}
footer::after{
	background: #20222F;
	width: 100%;
}
@media (max-width: 920px){
	body{overflow-x: hidden; margin: 0;}
	header .mobileNav .hamburguer p{
		display: flex;
	}
	.containerBody .sobreMim{
		display: flex;
		color: #FFF;
		flex-direction: column;
		max-width: 75%;
		text-align: center;
		margin: 0 auto;
		justify-content: center;
	}
	.containerBody .sobreMim h2{
		font-size: 20pt;
		color: #E5E6E8;
	}
	.containerBody .sobreMim p{
		font-size: 11pt;
		color: #AFB1B2;
		font-weight: 200;
	}
	.containerBody .sobreMim a img{
		width: 125px;
		height: 125px;
		border-radius: 50%;
		filter: drop-shadow(2px 3px 5px rgba(0,0,0, .50));
	}
	.containerBody .containerProjetos h2{
		text-align: center;
		font-size: 20pt;
		color: #E5E6E8;
	}
	.containerBody .containerProjetos .apresentacao img{
		width: 300px;
	}
	.containerBody .containerProjetos .apresentacao{
		display: grid;
		justify-content: space-around
		/*align-items: flex-end;*/
	}
	.containerBody .containerProjetos .brWallet{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 0 auto;
		/*margin-right: 1%;*/
	}
	.containerBody .containerProjetos .brWallet button{
		width: 300px;
		height: 2rem;
		cursor: pointer;
		background: #333;
		outline: none;
		border: 1.5px solid #333;
		color: #E5E6E8;
		font-size: 11pt;
	}
	.containerBody .containerProjetos .nuBanco{
		margin: 5% 0 0 0;
		display: grid;
		/*margin: 0 auto;*/
		/*margin-left: 1.5%;*/
	}
	.containerBody .containerProjetos .nuBanco button{
		width: 300px;
		height: 2rem;
		cursor: pointer;
		background: #333;
		outline: none;
		border: 1.5px solid #333;
		color: #E5E6E8;
		font-size: 11pt;
	}
	.embbed{
		margin: 5% 0 0;
		text-align: center;
		cursor: pointer;
	}
	footer{
		width: 100%;
		background: #262939;
		position: absolute;
		height: 15vh;
		bottom: -22%;
	}
	.containerFooter{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin: 1% 0 0;
	}
	.containerFooter h2{
		font-weight: 400;
		color: #E5E6E8;
		font-size: 18pt;
		margin: 0 0 1%;
	}
	.containerFooter li, li a{
		font-weight: 400;
		color: #AFB1B2;
		font-size: 12pt;
		margin: 0 0 1%;
		text-decoration: none;
	}
	.containerFooter li a:hover{text-decoration: underline;}
	::marker{color: #20222F;}
	footer::after{
		background: #20222F;
		width: 100%;
	}
}
body::-webkit-scrollbar{
	width: 0px;
	height: 0px;
	background: #333;
}

.containerCertificados h2{
	text-decoration: none;
	margin: 1.9vh 0 0;
	text-align: center;
	font-size: 16pt;
	color: #E5E6E8;
	font-family: 'Open Sans', sans-serif;
}
.containerCertificados .certificados{
	display: grid;
	place-itens: center;
}
.containerCertificados .certificados .c1{
	width: 250px;
	height: 100px;
	background: #333;
	margin: 1%;
}
